.jumbotron {
    background-color:cadetblue;
    color:antiquewhite;
}

.alt-primary {
    background-color:cadetblue;
}

#demo {
    background:cadetblue;
}


body {
    background-color: antiquewhite;
}
